<% if signed_in? %>

  <dt><strong>Add a review</strong></dt></br>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <dt><strong>
      <%= f.label :body, "Comment:" %></strong></dt>
      <dd>
      <%= f.text_area :body, class: "form-control new_comment_text" %>
    </dd>
    <dt><strong>
      <%= f.label :rating, "Rating:" %></strong></dt>
      <dd>
      <div class="rating"></div>
    </dd>
    <dd>
      <%= f.submit "Submit", class: "btn btn-default" %>
    </dd></br>
  <% end %>

<% end %>