
<div class="container products">
<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-md-3">
        <div class="product_box">
          <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/9485125/bike2berlin/<%=product.image_url %>">
          <h2><%= link_to product.name, product %></h2>
          <p><%= product.description %></p>
          <strong><%= number_to_currency(product.price, :unit => "€") %></strong>
      </div class="product_box">
      </div><!-- /col -->
    <% end %>
  </div>

</div><!--end container products-->
