<%- model_class = Product -%>
<div class="container products">
  <div class="page-header">
    <h1><%=t '.title', :default => @product.name %></h1>
  </div>

  <dl class="dl-horizontal" style="max-width: 1000px;">
    <dd><img class="img-responsive" src="<%=asset_path @product.image_url %>"></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @product.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
    <dd><%= @product.color %></dd> 
    <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
    <dd><%= number_to_currency(@product.price, :unit => "€") %></dd> 
    <dt><strong>Average rating:</strong></dt>
    <dd>
      <div class="rated" data-score="<%= @product.average_rating %>"></div>  
    </dd>

    <%= render :partial => 'new_comment' %>
    <%= render :partial => 'comments' %>
  </dl>



  <%= link_to t('.back', :default => t("helpers.links.back")), products_path, :class => 'btn btn-default'  %>
  <% if signed_in? && current_user.admin? %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(@product), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(@product), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
  <% end %>
</div>